<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=8) }}">
    </head>

    <body>

        <div class="header">
           
            <div class="nav_buttons">
                <div class="home_button">
                    <a href="{{url_for('index')}}">Home</a>
                </div>

                
                <div class="my_posts">
                    <a href="{{url_for('history')}}">Мої проходження</a>
                </div>

                {% if user.find_by_id(current_user.get_id()).user_access_level == 'admin' %}
                <div class="create_tasks_button">
                    <a href="{{ url_for('create_pull_of_tasks') }}">Додати набір завдань</a>
                </div>

                <div class="create_tasks_button">
                    <a href="{{ url_for('admin_user_management') }}">Керування користувачами</a>
                </div>
                {% endif %}

                {% if user.find_by_id(current_user.get_id()).user_access_level == 'expert' %}
                <div class="add_new_task">
                    <a href="{{ url_for('create_new_task') }}">Додати нове завдання</a>
                </div>
                {% endif %}


            </div>
            <div class="log_buttons">
                {% if validate_user == None %}
                <div class="register">
                    <a href="{{url_for('register')}}">Реєстрація</a>
                </div>
                <div class="login">
                    <a href="{{url_for('login_page')}}">Авторизація</a>
                </div>
                {% endif %}
                {% if validate_user != None %}
                <div class="logout">
                    <a href="{{url_for('logout')}}">Вийти</a>
                </div>
                <div class="logged_in_user">
                    Вітаємо, {{user.find_by_id(current_user.get_id()).user_login}}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="name_of_results">
            <h1> Розв'яжіть наступні завдання: </h1>
        </div>
        
        <div class="tasks_list">
            <form method="post" action="/solved_tasks">
            {% for task in tasks %}
            <div class="task_body">
                <div class="task_problem">
                    <h2> {{ task.task_text }} </h2>
                </div>
                
                
                    <div class="answers_block">
                        <div class="answer_1">
                            
                            <h3><input type="radio" name="{{task.task_id}}" value="{{task.answer_1}}"> {{ task.answer_1 }} </h3>
                        </div>

                        <div class="answer_2">
                            <h3><input type="radio" name="{{task.task_id}}" value="{{task.answer_2}}"> {{ task.answer_2 }} </h3>
                        </div>

                        <div class="answer_3">
                            <h3><input type="radio" name="{{task.task_id}}" value="{{task.answer_3}}"> {{ task.answer_3 }} </h3>
                        </div>

                        <div class="answer_4">
                            <h3><input type="radio" name="{{task.task_id}}" value="{{task.answer_4}}"> {{ task.answer_4 }} </h3>
                        </div>

                        <div class="answer_5">
                            <h3><input name="{{task.task_id}}" value="{{ 'Завдання пропущено' }}" type="hidden" checked> </h3>
                        </div>
                    </div>

                    
                
            </div>
            {% endfor %}
            <div class="submit_button_area">
                <div class="submit_button">
                    <button type="submit">Відправити на перевірку</button>
                </div>
            </div>
                </form>
        </div>





        
       



    </body>
</html>